@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketPortal.Components;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@{
    var categoryList = (CategoryLimpetList)Model.GetDataObject("categorylist");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var articleDataList = (ArticleLimpetList)Model.GetDataObject("articlelist");
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcatalog");
	var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
}

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")
@AddProcessData("resourcepath", appTheme.AppThemeVersionFolderRel + "/resx/")

<h3 style="margin-top:30px;">@ResourceKey("theme.categories", sessionParams.CultureCode)</h3>

<div class="categorytree w3-bar-block w3-light-grey w3-mobile w3-margin-top">
    <a href="@sessionParams.PageUrl" catid="0" onclick="$('.simplisity_loader').show();" class="w3-bar-item w3-button w3-dark-grey">
        @ResourceKey("theme.allproducts")
    </a>
    @foreach (var c in categoryList.GetCategoryTree())
    {
        if (!c.Hidden && !c.HiddenByCulture)
        {
            var selectedcolor = "";
            var toplevelclass = "";
            if (articleDataList.CategoryId == c.CategoryId)
            {
                selectedcolor = "catselected";
            }
            else
            {
                if (c.Level == 0)
                {
                    toplevelclass = "catlevel1";
                }
            }
            <div class="@selectedcolor @toplevelclass">
                <a href="@(c.CategoryUrl(sessionParams))" class="categoryitem" onclick="$('.simplisity_loader').show();">
                    @if (c.Level > 0)
                    {
                        <span class="material-icons">chevron_right</span>
                    }
                    @c.Name
                </a>
            </div>
        }
    }
</div>
